{{define "box-header"}}
    <div class="pull-right">

        <div class="dropdown pull-right column-selector" style="margin-right: 10px">
            <button type="button" class="btn btn-sm btn-instagram dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-table"></i>
                &nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="padding: 10px;max-height: 400px;overflow: scroll;">
                <li>
                    <ul style="padding: 0;">
                        {{range $key, $head := .Thead}}
                            <li class="checkbox icheck" style="margin: 0;">
                                <label style="width: 100%;padding: 3px;">
                                    <input type="checkbox" class="column-select-item" data-id="{{index $head "field"}}"
                                           style="position: absolute; opacity: 0;">&nbsp;&nbsp;&nbsp;{{index $head "head"}}
                                </label>
                            </li>
                        {{end}}
                    </ul>
                </li>
                <li class="divider">
                </li>
                <li class="text-right">
                    <button class="btn btn-sm btn-default column-select-all">{{lang "all"}}</button>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary column-select-submit">{{lang "submit"}}</button>
                </li>
            </ul>
        </div>

        <div class="btn-group pull-right" style="margin-right: 10px">
            <a href="" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filter-modal"><i
                        class="fa fa-filter"></i>&nbsp;&nbsp;{{lang "filter"}}</a>
            <a href="{{.InfoUrl}}" class="btn btn-sm btn-facebook"><i
                        class="fa fa-undo"></i>&nbsp;&nbsp;{{lang "Reset"}}
            </a>
        </div>

        <div class="modal fade" id="filter-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{lang "filter"}}</h4>
                    </div>
                    <form action="{{.InfoUrl}}" method="get" pjax-container="">
                        <div class="modal-body">
                            <div class="form">
                                {{range $key, $filter := .Filters}}
                                    <div class="form-group">
                                        <label>{{index $filter "title"}}</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <input type="text" class="form-control id"
                                                   placeholder="{{index $filter "title"}}"
                                                   name="{{index $filter "name"}}" value="">
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="filter-btn"
                                    class="btn btn-primary submit">{{lang "Submit"}}</button>
                            <button type="reset" class="btn btn-warning pull-left">{{lang "Reset"}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            $("#filter-btn").click(function () {
                $('.modal-backdrop').hide();
            });
        </script>

        <!--
        <div class="btn-group pull-right" style="margin-right: 10px">
            <a class="btn btn-sm btn-twitter"><i class="fa fa-download"></i> Export</a>
            <button type="button" class="btn btn-sm btn-twitter dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/admin/story/word?_export_=all" target="_blank">All</a></li>
                <li><a href="/admin/story/word?_export_=page%3A1" target="_blank">Current
                    page</a></li>
                <li><a href="/admin/story/word?_export_=selected%3A__rows__" target="_blank" class="export-selected">Selected rows</a></li>
            </ul>
        </div>
        -->

        <div class="btn-group pull-right" style="margin-right: 10px">
            {{if .NewUrl}}
                <a href="{{.NewUrl}}" class="btn btn-sm btn-success">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;{{lang "New"}}
                </a>
            {{end}}
            {{if .ExportUrl}}
                <a href="javascript:;" class="btn btn-sm btn-success" id="export-btn">
                    <i class="fa fa-save"></i>&nbsp;&nbsp;{{lang "Export"}}
                </a>

                <script>
                    $("#export-btn").click(function () {
                        let form = $("<form>");
                        form.attr("style", "display:none");
                        form.attr("target", "");
                        form.attr("method", "post");
                        form.attr("action",{{.ExportUrl}});
                        let input1 = $("<input>");
                        input1.attr("type", "hidden");
                        input1.attr("name", "time");
                        input1.attr("value", (new Date()).getMilliseconds());
                        $("body").append(form);
                        form.append(input1);
                        form.submit();
                        form.remove()
                    });
                </script>
            {{end}}
        </div>
    </div>
    <span>
    {{if .DeleteUrl}}
        <input type="checkbox" class="grid-select-all" style="position: absolute; opacity: 0;">
        <div class="btn-group">
            <a class="btn btn-sm btn-default">{{lang "Action"}}</a>
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{lang "Toggle Dropdown"}}</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="grid-batch-0">{{lang "Delete"}}</a></li>
                {{if .ExportUrl}}
                    <li><a href="#" class="grid-batch-1">{{lang "Export"}}</a></li>
                {{end}}
            </ul>
        </div>
    {{end}}
    <a class="btn btn-sm btn-primary grid-refresh">
        <i class="fa fa-refresh"></i> {{lang "Refresh"}}
    </a>
</span>
{{end}}