<%: func BaseContent(content string, menuList []menu.MenuItem, title string, description string, user auth.User, buffer *bytes.Buffer) %>

<%~ "base.html" %>

<%@ header { %>
<h1>
    <%= title %>
    <small><%= description %></small>
</h1>
<% } %>

<%@ menuPart { %>
<% for _, list := range menuList { %>
<%+ "sidebar.html" %>
<% } %>
<% } %>

<%@ adminPanel { %>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="http://localhost:4003<%= user.Avatar %>" class="user-image" alt="User Image">
    <span class="hidden-xs"><%= user.Name %></span>
</a>
<ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
        <img src="http://localhost:4003<%= user.Avatar %>" class="img-circle" alt="User Image">
        <p>
            <%= user.Name %> - <%= user.LevelName %>
            <small><%= user.CreateAt %></small>
        </p>
    </li>
    <li class="user-footer">
        <div class="pull-left">
            <a href="/info/manager/edit?id=<%= user.ID %>" class="btn btn-default btn-flat">Setting</a>
        </div>
        <div class="pull-right">
            <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
        </div>
    </li>
</ul>
<% } %>

<%@ adminName { %>
<p><%= user.Name %></p>
<% } %>

<%@ contentPart { %>
    <%==s content %>
<% } %>