<section class="content-header">
    <%@ header { %>
    <% } %>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                    <div class="box-tools">
                        <div class="btn-group pull-right" style="margin-right: 10px">
                            <a href="" class="btn btn-sm btn-default"><i class="fa fa-list"></i> List</a>
                        </div> <div class="btn-group pull-right" style="margin-right: 10px">
                        <a class="btn btn-sm btn-default form-history-back"><i class="fa fa-arrow-left"></i> Back</a>
                    </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <%@ url { %>
                <% } %>
                    <div class="box-body">
                        <div class="fields-group">
                            <%@ content { %>
                            <% } %>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="hidden" name="_token" value="7TEJrUaKsAIZ0qbc03G1nmeDOfmHyhCbMHqHlnkg"><div class="col-md-2">
                    </div>
                        <div class="col-md-8">

                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; Save">Save</button>
                            </div>

                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>

                        </div>

                    </div>

                    <input type="hidden" name="_method" value="PUT" class="_method">
                    <%@ previous { %>
                    <% } %>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>

<script data-exec-on-popstate>
    $(function () {
        $('.form-history-back').on('click', function (event) {
            event.preventDefault();
            history.back(1);
        });
    });
</script>