<% if data.Field != "created_at" && data.Field != "updated_at" && data.Field != "id" { %>
    <% if data.FormType == "default" { %>
        <label class="col-sm-2 control-label"><%= data.Head %></label>
        <div class="col-sm-8">
            <div class="box box-solid box-default no-margin">
                <!-- /.box-header -->
                <div class="box-body">
                    <%= data.Value %> 
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    <% } else if data.FormType == "text" { %>
        <label for="json" class="col-sm-2 control-label"><%= data.Head %></label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                <input type="text" id="<%= data.Field %>" name="<%= data.Field %>" value='' class="form-control json" placeholder="Input json">
            </div>
        </div>
    <% } else if data.FormType == "password" { %>
        <label for="password" class="col-sm-2 control-label"><%= data.Head %></label>
        <div class="col-sm-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-eye-slash"></i></span>
                <input type="password" id="<%= data.Field %>" name="<%= data.Field %>" value="" class="form-control password" placeholder="Input Password">
            </div>
        </div>
    <% } else if data.FormType == "textarea" { %>
        <label for="http_path" class="col-sm-2 control-label"><%= data.Head %></label>
        <div class="col-sm-8">
            <textarea name="http_path" class="form-control" rows="5" placeholder="Input text"></textarea>
        </div>
    <% } %>
<% } %>