<% if data.FormType == "default" { %>
    <label class="col-sm-2 control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <div class="box box-solid box-default no-margin">
            <div class="box-body">
                <%= data.Value %> 
            </div>
        </div>
    </div>
<% } else if data.FormType == "text" { %>
    <label for="<%= data.Field %>" class="col-sm-2 control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
            <input type="text" id="<%= data.Field %>" name="<%= data.Field %>" value='<%= data.Value %>' class="form-control json" placeholder="Input <%= data.Head %>">
        </div>
    </div>
<% } else if data.FormType == "password" { %>
    <label for="<%= data.Field %>" class="col-sm-2 control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-eye-slash"></i></span>
            <input type="password" id="<%= data.Field %>" name="<%= data.Field %>" value="<%= data.Value %>" class="form-control password" placeholder="Input <%= data.Head %>">
        </div>
    </div>
<% } else if data.FormType == "textarea" { %>
    <label for="<%= data.Field %>" class="col-sm-2 control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <textarea name="<%= data.Field %>" class="form-control" rows="5" placeholder="Input <%= data.Head %>"><%= data.Value %></textarea>
    </div>
<% } else if data.FormType == "select" { %>
    <label for="<%= data.Field %>" class="col-sm-2 control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <select class="form-control <%= data.Field %> select2-hidden-accessible" style="width: 100%;" name="<%= data.Field %>[]" multiple="" data-placeholder="Input <%= data.Head %>" tabindex="-1" aria-hidden="true">
            <% for _, v := range data.Options { %>
                <option value='<%= v["value"] %>' <%= v["selected"] %>><%= v["field"] %></option>
            <% } %>
        </select>
        <input type="hidden" name="<%= data.Field %>[]">
        <!--<span class="help-block">
            <i class="fa fa-info-circle"></i>&nbsp;All methods if empty
        </span>-->
    </div>
    <script>
        $(".<%= data.Field %>").select2({
            allowClear: true
        });
    </script>
<% } else if data.FormType == "file" { %>
    <label for="<%= data.Field %>" class="col-sm-2  control-label"><%= data.Head %></label>
    <div class="col-sm-8">
        <input type="file" class="<%= data.Field %>" name="<%= data.Field %>" data-initial-preview="" data-initial-caption="<%= data.Value %>">
    </div>
    <script>
        $("input.<%= data.Field %>").fileinput({
            "overwriteInitial":true,
            "initialPreviewAsData":true,
            "browseLabel":"Browse",
            "showRemove":false,
            "showUpload":false,
            "deleteExtraData":{
                "avatar":"_file_del_",
                "_file_del_":"",
                "_token":"NVXb8lY1QT6oi7DMPFLwU9IlHiSON3C6isKIF1kD",
                "_method":"PUT"
            },
            "deleteUrl":"http:\/\/laravel-admin.org\/demo\/auth\/1",
            "allowedFileTypes":["image"]
        });
    </script>
<% } %>