<%: func MenuEditPanelPjax(menuItem menu.MenuItem, menuOption []map[string]string, buffer *bytes.Buffer) %>

<%~ "menu_edit_pjax.html" %>

<%@ formUrlPart { %>
<form action="/menu/edit?id=<%= menuItem.ID %>" method="post" accept-charset="UTF-8" class="form-horizontal" pjax-container="">
<% } %>

<%@ iconpopover { %>
<%+ "icon.html" %>
<% } %>

<%@ IdPart { %>
<%= menuItem.ID %>&nbsp;
<% } %>

<%@ TitlePart { %>
<input type="text" id="title" name="title" value="<%= menuItem.Name %>" class="form-control title" placeholder="Input Title">
<% } %>

<%@ IconPart { %>
<input style="width: 140px" type="text" id="icon" name="icon" value="<%= menuItem.Icon %>" class="form-control icon iconpicker-element iconpicker-input" placeholder="Input Icon">
<% } %>

<%@ UrlPart { %>
<input type="text" id="uri" name="uri" value="<%= menuItem.Url %>" class="form-control uri" placeholder="Input URI">
<% } %>

<%@ optionPart { %>
<% for _, option := range menuOption { %>
<option value='<%= option["id"] %>'><%= option["title"] %></option>
<% } %>
<% } %>

<% } %>