<section class="content-header">
    <h1>
    Menu
    <small>Edit</small>
</h1>

    <!-- breadcrumb start -->
    <!-- breadcrumb end -->

</section>
<section class="content"><div class="row"><div class="col-md-12">
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Edit</h3>

        <div class="box-tools">
            <div class="btn-group pull-right" style="margin-right: 10px">
                <a href="/menu" class="btn btn-sm btn-default"><i class="fa fa-list"></i>&nbsp;List</a>
            </div> <div class="btn-group pull-right" style="margin-right: 10px">
            <a class="btn btn-sm btn-default form-history-back"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
        </div>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <%@ formUrlPart { %>
    <% } %>

        <div class="box-body">

            <div class="fields-group">

                <div class="form-group ">
                    <label class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-8">
                        <div class="box box-solid box-default no-margin">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <%@ IdPart { %>
                                <% } %>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <div class="form-group  ">

                    <label for="parent_id" class="col-sm-2 control-label">Parent</label>

                    <div class="col-sm-8">
                        <select class="form-control parent_id select2-hidden-accessible" style="width: 100%;" name="parent_id" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        <option value="0" selected="">Root</option>
                        <%@ optionPart { %>
                        <% } %>
                    </select>
                    </div>
                </div>

                <div class="form-group  ">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                            <%@ TitlePart { %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="icon" class="col-sm-2 control-label">Icon</label>
                    <div class="col-sm-8">
                        <div class="input-group iconpicker-container">
                            <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                            <%@ IconPart { %>
                            <% } %>
                        </div>
                        <span class="help-block">
                            <i class="fa fa-info-circle"></i>&nbsp;For more icons please see <a href="http://fontawesome.io/icons/" target="_blank">http://fontawesome.io/icons/</a>
                        </span>
                        <%@ iconpopover { %>
                        <% } %>
                    </div>
                </div>
                <div class="form-group  ">
                    <label for="uri" class="col-sm-2 control-label">URI</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                            <%@ UrlPart { %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="form-group  ">
                    <label for="roles" class="col-sm-2 control-label">Roles</label>
                    <div class="col-sm-8">
                        <select class="form-control roles select2-hidden-accessible" style="width: 100%;" name="roles[]" multiple="" data-placeholder="Input Roles" tabindex="-1" aria-hidden="true"><option value="1">Administrator</option>
                            <option value="2">Operator</option>
                            <option value="3">SmallAdministrator</option></select>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">

            <input type="hidden" name="_token" value="HTKbIVHeishMOGhxuJU3yH3bGHJLtqcop1NfYbwD"><div class="col-md-2">

        </div>
            <div class="col-md-8">

                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-info pull-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Save">Save</button>
                </div>

                <div class="btn-group pull-left">
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>

            </div>

        </div>

        <input type="hidden" name="_method" value="PUT" class="_method"><input type="hidden" name="_previous_" value="/menu" class="_previous_"><!-- /.box-footer -->
    </form>
</div>

</div></div>

</section><script data-exec-on-popstate="">

    $(function () {
        $('.form-history-back').on('click', function (event) {
            event.preventDefault();
            history.back(1);
        });
        $(".parent_id").select2({"allowClear":true,"placeholder":"Parent"});

        $('.icon').iconpicker({placement:'bottomLeft'});

        $(".roles").select2({"allowClear":true,"placeholder":"Roles"});
    });
</script>