<%: func MenuPanelPjax(menuEditList []menu.MenuItem, menuOption []map[string]string, buffer *bytes.Buffer) %>

<%~ "menu_pjax.html" %>

<%@ iconpopover { %>
    <%+ "icon.html" %>
<% } %>

<%@ menuEditpart { %>
    <% for _, list := range menuEditList { %>
        <li class="dd-item" data-id='<%= list.ID %>'>
            <div class="dd-handle">
                <i class="fa <%= list.Icon %>"></i>&nbsp;<strong><%= list.Name %></strong>&nbsp;&nbsp;&nbsp;<a
                    href="<%= list.Url %>" class="dd-nodrag"><%= list.Url %></a>
                <span class="pull-right dd-nodrag">
                <a href="/menu/edit/show?id=<%= list.ID %>"><i class="fa fa-edit"></i></a>
                <a href="javascript:void(0);" data-id="<%= list.ID %>" class="tree_branch_delete"><i class="fa fa-trash"></i></a>
            </span>
            </div>
            <% if len(list.ChildrenList) > 0 { %>
                <ol class="dd-list">
                    <% for _, item := range list.ChildrenList { %>
                        <li class="dd-item" data-id='<%= item.ID %>'>
                            <div class="dd-handle">
                                <i class="fa <%= item.Icon %>"></i>&nbsp;<strong><%= item.Name %></strong>&nbsp;&nbsp;&nbsp;<a
                                    href="<%= item.Url %>" class="dd-nodrag"><%= item.Url %></a>
                                <span class="pull-right dd-nodrag">
                                    <a href="/menu/edit/show?id=<%= item.ID %>"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:void(0);" data-id="<%= item.ID %>" class="tree_branch_delete"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                        </li>
                    <% } %>
                </ol>
            <% } %>
        </li>
    <% } %>
<% } %>

<%@ optionPart { %>
<% for _, option := range menuOption { %>
    <option value='<%= option["id"] %>'><%= option["title"] %></option>
<% } %>
<% } %>

<% } %>