<%: func NewPanel(formData []models.FormStruct, url string, previous string, id string, menuList []menu.MenuItem, title string, description string, token string, buffer *bytes.Buffer) %>

<%~ "edit.html" %>

<%@ headPart { %>
<%+ "head.html" %>
<% } %>

<%@ header { %>
<h1>
    <%= title %>
    <small><%= description %></small>
</h1>
<% } %>

<%@ menuPart { %>
<% for _, list := range menuList { %>
<%+ "sidebar.html" %>
<% } %>
<% } %>

<%@ url { %>
<form action='<%= url %>' method="post" accept-charset="UTF-8" class="form-horizontal" pjax-container>
<% } %>

<%@ content { %>
<% for _, data := range formData { %>
<div class="form-group ">
    <%+ "form_new.html" %>
</div>
<% } %>
<% } %>

<%@ previous { %>
<input type="hidden" name="_previous_" value='<%= previous %>' class="_previous_">
<input type="hidden" name="id" value='<%= id %>' class="_previous_">
<input type="hidden" name="_t" value='<%= token %>' class="_previous_">
<% } %>

<%@ jsPart { %>
<%+ "js.html" %>
<% } %>

<% } %>