.idea
.vscode
.DS_Store
demo/config.json
demo/config
demo/deploy.yml
demo/hosts
demo/go-admin
demo/Makefile
demo/deploy.retry
vendor/**
!vendor/vendor.json
logs
adm/build
template/login/assets/login
uploads