{{define "box"}}
<div class="box box-{{.Theme}}">
    <div class="box-header {{.HeadBorder}}">
        {{langHtml .Header}}
    </div>
    <div class="box-body" style="overflow: scroll;">
        {{langHtml .Body}}
    </div>
    {{if ne .Footer ""}}
    <div class="box-footer clearfix">
        {{langHtml .Footer}}
    </div>
    {{end}}
</div>
{{end}}