{{define "box"}}
<div class="box box-{{.Theme}}">
    <div class="box-header {{.HeadBorder}}">
        {{.Header}}
    </div>
    <div class="box-body">
        {{.Body}}
    </div>
    <div class="box-footer clearfix">
        {{.Footer}}
    </div>
</div>
{{end}}