{{define "form"}}
    <script src="{{.Prefix}}/assets/dist/js/form.min.js"></script>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{langHtml .Title}}</h3>
            <div class="box-tools">
                <!-- <div class="btn-group pull-right" style="margin-right: 10px">
                <a href='{{.InfoUrl}}' class="btn btn-sm btn-default"><i class="fa fa-list"></i> {{lang "List"}}</a>
                </div> -->
                <div class="btn-group pull-right" style="margin-right: 10px">
                    <a href='{{.InfoUrl}}' class="btn btn-sm btn-default form-history-back"><i
                                class="fa fa-arrow-left"></i> {{lang "Back"}}</a>
                </div>
            </div>
        </div>
        {{.Header}}
        {{$PrimaryKey := .PrimaryKey}}
        <form action='{{.Url}}' method="{{.Method}}" accept-charset="UTF-8" class="form-horizontal" pjax-container>
            <div class="box-body">
                {{if eq (len .TabHeaders) 0}}
                    <div class="fields-group">
                        {{ template "form_components" .Content }}
                    </div>

                    {{range $key, $data := .Content}}
                        {{if eq $data.Field $PrimaryKey}}
                            <input type="hidden" name="{{$PrimaryKey}}" value='{{$data.Value}}'>
                        {{end}}
                    {{end}}
                {{else}}
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {{range $key, $data := .TabHeaders}}
                                {{if eq $key 0}}
                                    <li class="active">
                                {{else}}
                                    <li class="">
                                {{end}}
                                <a href="#tab-form-{{$key}}" data-toggle="tab" aria-expanded="true">
                                    {{$data}} <i class="fa fa-exclamation-circle text-red hide"></i>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                        <div class="tab-content fields-group">

                            {{range $key, $data := .TabContents}}

                            {{if eq $key 0}}
                                <div class="tab-pane active" id="tab-form-{{$key}}">
                            {{else}}
                                <div class="tab-pane" id="tab-form-{{$key}}">
                            {{end}}
                                {{ template "form_components" $data}}
                                {{range $key, $d := $data}}
                                    {{if eq $d.Field $PrimaryKey}}
                                        <input type="hidden" name="{{$PrimaryKey}}" value='{{$d.Value}}'>
                                    {{end}}
                                {{end}}
                            </div>

                            {{end}}

                        </div>
                    </div>
                {{end}}
            </div>
            <div class="box-footer">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">

                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-info pull-right"
                                data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; Save">
                            {{lang "Save"}}
                        </button>
                    </div>

                    <div class="btn-group pull-left">
                        <button type="reset" class="btn btn-warning">{{lang "Reset"}}</button>
                    </div>

                </div>
            </div>

            <input type="hidden" name="_previous_" value='{{.InfoUrl}}'>
            <input type="hidden" name="_t" value='{{.CSRFToken}}'>
        </form>
        {{.Footer}}
    </div>
{{end}}