{{define "table"}}
    <table class="table table-hover">
        {{if eq .Type "table"}}
            <thead>
                <tr>
                {{range $key, $head := .Thead}}
                    <th>
                    {{index $head "head"}}
                    {{if eq (index $head "sortable") "1"}}
                        <a class="fa fa-fw fa-sort" href=""></a>
                    {{end}}
                    </th>
                {{end}}
                </tr>
            </thead>
        {{end}}
        <tbody>
        {{if eq .Type "data-table"}}
            <tr>
                <th></th>
                {{range $key, $head := .Thead}}
                    <th>
                        {{index $head "head"}}
                        {{if eq (index $head "sortable") "1"}}
                            <a class="fa fa-fw fa-sort" href=""></a>
                        {{end}}
                    </th>
                {{end}}
                <th>{{lang "operation"}}</th>
            </tr>
        {{end}}

        {{$Thead := .Thead}}
        {{$Type := .Type}}
        {{$EditUrl := .EditUrl}}
        {{range $key1, $info := .InfoList}}
            <tr>
                {{if eq $Type "data-table"}}
                    <td>
                        <input type="checkbox" class="grid-row-checkbox" data-id="{{index $info "id"}}" style="position: absolute; opacity: 0;">
                    </td>
                {{end}}
                {{range $key2, $head2 := $Thead}}
                    <td>{{index $info (index $head2 "head")}}</td>
                {{end}}
                {{if eq $Type "data-table"}}
                    <td>
                        <a href='{{$EditUrl}}&id={{index $info "id"}}'><i class="fa fa-edit"></i></a>
                        <a href="javascript:void(0);" data-id='{{index $info "id"}}' class="grid-row-delete"><i class="fa fa-trash"></i></a>
                    </td>
                {{end}}
            </tr>
        {{end}}
        </tbody>
    </table>
    {{if eq $Type "data-table"}}
    <script>
        $('.grid-row-delete').unbind('click').click(function () {
            DeletePost($(this).data('id'))
        });

        selectedRows = function () {
            let selected = [];
            $('.grid-row-checkbox:checked').each(function(){
                selected.push($(this).data('id'));
            });
            return selected;
        };

        $('.grid-select-all').on('ifChanged', function (event) {
            if (this.checked) {
                $('.grid-row-checkbox').iCheck('check');
            } else {
                $('.grid-row-checkbox').iCheck('uncheck');
            }
        });
        $('.grid-select-all').iCheck({checkboxClass: 'icheckbox_minimal-blue'});

        $(function () {
            $('.grid-row-checkbox').iCheck({checkboxClass: 'icheckbox_minimal-blue'}).on('ifChanged', function () {
                if (this.checked) {
                    $(this).closest('tr').css('background-color', "#ffffd5");
                } else {
                    $(this).closest('tr').css('background-color', '');
                }
            });
        });

        $('.grid-batch-0').on('click', function() {
            DeletePost(selectedRows().join())
        });

        function DeletePost(id) {
            swal({
                title: {{lang "are you sure to delete"}},
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: {{lang "yes"}},
                closeOnConfirm: false,
                cancelButtonText: {{lang "cancel"}},
            },
            function(){
                $.ajax({
                    method: 'post',
                    url: {{.DeleteUrl}},
                    data: {
                        id: id
                    },
                    success: function (data) {
                        $.pjax.reload('#pjax-container');

                        data = JSON.parse(data);
                        if (data.code === 200) {
                            $('#_TOKEN').val(data.data);
                            swal(data.msg, '', 'success');
                        } else {
                            swal(data.msg, '', 'error');
                        }
                    }
                });
            });
        }
    </script>
    {{end}}
{{end}}