{{define "content"}}
<script src="{{.AssertRootUrl}}/assets/dist/js/info.js"></script>
<section class="content-header">
    <h1>
        {{.Panel.Title}}
        <small>{{.Panel.Description}}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    {{.Panel.Content}}
</section>
{{end}}