{{define "js"}}
<script src="{{.AssertRootUrl}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/fastclick/lib/fastclick.js"></script>
<script src="{{.AssertRootUrl}}/assets/select2/select2.full.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/fileinput/fileinput.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/nprogress/nprogress.js"></script>
<script src="{{.AssertRootUrl}}/assets/toastr/build/toastr.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/jquery-pjax/jquery.pjax.js"></script>
<script src="{{.AssertRootUrl}}/assets/sweetalert/dist/sweetalert.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="{{.AssertRootUrl}}/assets/dist/js/info.js"></script>
{{end}}