{{define "js"}}
<script src="{{.UrlPrefix}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{.UrlPrefix}}/assets/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{.UrlPrefix}}/assets/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="{{.UrlPrefix}}/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{.UrlPrefix}}/assets/fastclick/lib/fastclick.js"></script>
<script src="{{.UrlPrefix}}/assets/select2/select2.full.min.js"></script>
<script src="{{.UrlPrefix}}/assets/wang-editor/wangEditor.min.js"></script>
<script src="{{.UrlPrefix}}/assets/fileinput/fileinput.min.js"></script>
<script src="{{.UrlPrefix}}/assets/nprogress/nprogress.js"></script>
<script src="{{.UrlPrefix}}/assets/toastr/build/toastr.min.js"></script>
<script src="{{.UrlPrefix}}/assets/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{.UrlPrefix}}/assets/jquery-pjax/jquery.pjax.js"></script>
<script src="{{.UrlPrefix}}/assets/moment/min/moment-with-locales.min.js"></script>
<script src="{{.UrlPrefix}}/assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{.UrlPrefix}}/assets/sweetalert/dist/sweetalert.min.js"></script>
<script src="{{.UrlPrefix}}/assets/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="{{.UrlPrefix}}/assets/dist/js/info.js"></script>
{{end}}