{{define "layout"}}

    <!DOCTYPE html>
    <html>

    {{ template "head" . }}

    <style>
        .full-page-content {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 9999;
        }

        .full-page-wrapper {
            background-color: #ecf0f4;
        }

        #toast-container {
            top: 90%;
        }
    </style>

    <body class="hold-transition {{.ColorScheme}} sidebar-mini">
    <div class="wrapper">

        {{ template "header" . }}

        {{ template "sidebar" . }}

        <div class="content-wrapper" id="pjax-container">

            {{ template "content" . }}

        </div>

        {{ template "footer" . }}

    </div>

    {{ template "js" . }}

    </body>
    </html>

{{end}}
