{{define "description"}}
<div class="description-block border-{{.Border}}">
    <span class="description-percentage text-{{.Color}}"><i class="fa fa-caret-{{.Arrow}}"></i>{{.Percent}}%</span>
    <h5 class="description-header">{{.Number}}</h5>
    <span class="description-text">{{.Title}}</span>
</div>
{{end}}